<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>663406567530-1lb620u1216td0jmvkav123gk11hjcv6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.663406567530-1lb620u1216td0jmvkav123gk11hjcv6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>663406567530-pdkamp0jgoh119no5bblq5l276ataj2m.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD7wQ3MFIupFwoDXiMnjNGtJa9SVxPIAFQ</string>
	<key>GCM_SENDER_ID</key>
	<string>663406567530</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tech.amwal.auth.justpassmeFlutterExample</string>
	<key>PROJECT_ID</key>
	<string>justpass-me-sdk-example</string>
	<key>STORAGE_BUCKET</key>
	<string>justpass-me-sdk-example.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:663406567530:ios:22688c82031336b62c2a13</string>
</dict>
</plist>